@tailwind components;

@layer components {
  .button-active {
    @apply btn border bg-[#000] text-[#fff] border-black;
  }
  .button {
    @apply btn border border-black text-[#000];
  }
  .doc-container {
    @apply px-[136px] py-[20px];
  }
  .doc-model-title {
    @apply text-[32px] font-[500] mb-[24px];
    @apply text-[#344767];
  }
  .doc-tab-container {
    @apply mb-[24px] bg-[#f8f9fa] rounded-[4px] py-[8px];
    @apply flex flex-row gap-[50px] justify-center;
  }
  .tab {
    @apply text-[17px] font-[400] py-[8px] px-[24px] text-[#344767];
  }
  .tab-active {
    background-image: var(--pri-gradient);
    /* background-image: linear-gradient(310deg, #7928ca, #ff0080); */
    @apply rounded-[4px];
    @apply text-[17px] font-[400] py-[8px] px-[24px] text-[#fff];
  }
  .doc-heading {
    font-size: 24px;
    line-height: 35px;
    @apply mb-[24px] font-[500];
  }
  .doc-subheading {
    @apply mb-[24px] text-[16px];
  }
  .doc-code-container {
    border-left: 8px solid #344767;
    @apply pl-[18px] py-[24px] bg-[#34476714] mb-[24px];
  }
  .doc-code {
    @apply font-mono font-[400];
  }

  .demo-wrapper {
    @apply flex gap-[50px] px-[8px] py-[24px];
  }
  .demo-container {
    @apply basis-1/2;
  }
  .demo-output {
    @apply basis-1/2;
  }
  .demo-output {
    width: 512px;
    height: 512px;
  }
  .label {
    /* background-image: linear-gradient(310deg, #7928ca, #ff0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1; */
    @apply text-[#344767] font-[500] text-[14px];
    @apply font-[500]  ml-[4px] flex items-center gap-[4px];
  }
  .input-feild {
    border: 1px solid #344767;
    @apply px-[12px] py-[8px] rounded-[8px] w-full;
  }
  .upload-image {
    border: 1px dashed rgba(0, 0, 0, 0.3);
    @apply p-[12px] rounded-[8px] flex flex-col items-center justify-center;
  }
  .upload-image > div {
    color: rgba(0, 0, 0, 0.4);
  }
  .upload-image > p {
    color: rgba(0, 0, 0, 0.4);
  }
  .btn {
    padding: 12px 18px;
    @apply font-[500] px-[1.5rem] py-[0.75rem] uppercase;
    @apply rounded-[8px] leading-[1.4];
  }
  .btn-primary {
    background-image: var(--pri-gradient);

    /* background-image: linear-gradient(310deg, #7928ca, #ff0080); */
    color: #fff;
  }
  .btn-sec {
    background-image: var(--pri-gradient);

    /* background-image: linear-gradient(310deg, #7928ca, #ff0080); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;
  }
  .btn-outline {
    padding: 8px 18px;
    border: 2px solid #344767;
    color: #344767;
  }
  .btn-outline-active {
    background-image: var(--pri-gradient);
    padding: 8px 18px;

    /* background-image: linear-gradient(310deg, #7928ca, #ff0080); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;
    border: 2px solid #fbcf33;
  }
  .details-subheading {
    @apply text-[#8a8787];
  }
}
