@tailwind components;

@layer components {
  .header-container {
    @apply flex flex-row h-[89vh] w-[98vw];
    @apply px-[136px] items-center justify-between;
  }
  .header-typography {
    @apply basis-1/2;
  }
  .header-image-container {
    @apply flex flex-row gap-[30px] justify-end;
  }
  .header-heading-gradient {
    /* background-image: linear-gradient(310deg, #7928ca, #ff0080); */
    background-image: var(--pri-gradient);
    webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    @apply text-[3rem] font-[700];
    @apply leading-[1.25] tracking-[-0.05rem];
  }

  .header-heading {
    @apply text-[#344767] text-[3rem] font-[700];
    @apply leading-[1.25] tracking-[-0.05rem];
  }
  .header-subheading {
    @apply text-[#67748e] text-[1.25rem] font-[400];
    @apply leading-[1.625] tracking-[1.625] mb-[1rem];
  }

  .hero-img-section {
    @apply flex flex-col w-[20%] gap-[30px];
  }
  .hero-img {
    @apply rounded-[8px]  h-[220px] object-cover;
  }
  .btn {
    padding: 12px 18px;
    @apply font-[700] px-[1.5rem] py-[0.75rem] uppercase;
    @apply rounded-[8px] leading-[1.4];
  }
  .btn-primary {
    background-image: var(--pri-gradient);

    /* background-image: linear-gradient(310deg, #7928ca, #ff0080); */
    color: #fff;
  }
  .btn-sec {
    background-image: var(--pri-gradient);

    /* background-image: linear-gradient(310deg, #7928ca, #ff0080); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;
  }
}
